* {
  box-sizing: border-box;
}

body,
h1,
h2 {
  margin: 0;
}

p,
h2 {
  color: white;
}

p{
  font-size: 20px;
  letter-spacing: 3px;
}

h2 {
  font-size: 40px;
  letter-spacing: 5px;
}

header {
  background-color: purple;
  color: white;
  text-align: center;
  line-height: 100px;
}

.weather {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.weather__widget {
  width: 500px;
  min-height: 300px;
  background-color: cornflowerblue;
}

.weather__widget-main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.weather__widget-desc{
 padding: 20px;
 text-align: center;
}


.weather__input {
display: flex;
justify-content: center;
 width: 100%;
margin-top: 30px;
margin-bottom: 30px;
}

.icon {
  height: 70px;
  width: 70px;
}
